.dashboard-container{
    padding:30px;
}

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.dashboard-title{
    font-size:40px;
    color:white;
}

.dashboard-subtitle{
    color:#9ca3af;
}

.header-buttons{
    display:flex;
    gap:15px;
}

.dashboard-btn{
    background:#00d9ff;
    color:black;
    padding:12px 20px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.stats-card{
    background:#071739;
    padding:30px;
    border-radius:20px;
    border:1px solid #00d9ff;
}

.stats-card h3{
    color:#9ca3af;
}

.stats-card h1{
    color:white;
    font-size:45px;
}

.charts-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:30px;
}

.chart-card{
    background:#071739;
    padding:20px;
    border-radius:20px;
}

.chart-card h2{
    color:white;
    margin-bottom:20px;
}

.table-card{
    background:#071739;
    padding:20px;
    border-radius:20px;
}

.table-card h2{
    color:white;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    color:#00d9ff;
    text-align:left;
    padding:15px;
}

table td{
    color:white;
    padding:15px;
    border-top:1px solid #1e293b;
}